button {
    background-image: linear-gradient(#dddddd, #999999);
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: default;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    opacity: 0.3;
  }